:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: var(--nav-width);

  a {
    display: flex;
    margin: var(--margin-s);
    font-size: var(--font-size-s);
    line-height: var(--nav-line-height);
    &.active {
      color: var(--accent-color);
    }
  }
}
